@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Roboto Condensed";
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Estilos barra de desplazamiento */
::-webkit-scrollbar {
  width: 2px;
}

/* Fondo de la barra */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Estilo de la "thumb" */
::-webkit-scrollbar-thumb {
  background: #81C784;
  border-radius: 6px;
}

.header {
  border-bottom: 1px solid #d4d4d4;
}
.header__title {
  color: #403A43;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.header__button {
  background-color: #BA68C8;
  color: #fefefe;
  padding: 5px 15px;
  border-radius: 5px;
  transition: 0.1s;
}
.header__button:hover {
  transform: scale(0.95);
  background-color: #7B1FA2;
}

.form {
  background-color: #81C784;
  border-radius: 5px;
  padding: 25px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.form__form-item {
  display: flex;
  flex-direction: column;
}
.form__form-item label {
  color: #fefefe;
  font-weight: 400;
  font-size: 18px;
}
.form__form-item input, .form__form-item select {
  border-radius: 5px;
  color: #403A43;
  font-weight: 400;
  font-size: 16px;
  padding: 2px 5px;
}
.form__form-item input[type=submit] {
  background-color: #7B1FA2;
  color: #fefefe;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}

.SummaryActivityFood {
  height: 100%;
  margin: 0px 40px;
}
.SummaryActivityFood__title {
  color: #403A43;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.SummaryActivityFood__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SummaryActivityFood__container__section {
  border: 1px solid #d4d4d4;
  margin: 15px 0px;
  position: relative;
  border-radius: 10px;
  color: #403A43;
  font-weight: 300;
  font-size: 22px;
}
.SummaryActivityFood__container__section .icon {
  margin: 0px 15px;
}
.SummaryActivityFood__container__section > button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #D00000;
  width: 25px;
  height: 25px;
  border-radius: 100px;
}
.SummaryActivityFood__container h3 {
  position: absolute;
  top: 10px;
  left: -40px;
  color: #fefefe;
  font-weight: 400;
  font-size: 18px;
  padding: 0px 20px;
  border-radius: 5px;
  background-color: #81C784;
}
.SummaryActivityFood__container .h3__comida {
  background-color: #BA68C8;
}
.SummaryActivityFood__container div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerSummary {
  background-color: #7B1FA2;
  color: #fefefe;
  height: 100%;
}
.containerSummary h2 {
  color: #fefefe;
  font-weight: 400;
  font-size: 24px;
}
.containerSummary section {
  text-align: center;
  line-height: 30px;
}
.containerSummary section p:first-of-type {
  color: #fefefe;
  font-weight: 400;
  font-size: 44px;
}

/*# sourceMappingURL=main.css.map */
